.filter-houses{
    display: flex;
    align-items: center;
    margin: 3em 8em 0 18em;
}
.filter-houses h5{
    font-size: 20px;
}


.button-clear{
    border: none;
    background: none;
    padding: 0;
    margin-left: 1em;
    font-size: 20px;
    
}
.filter-results{
    display: flex;
}

.filter-options{
    border: 1px solid white;
    border-radius: 1em;
    background-color: white;
    margin: 0 5px;
}
.options-label{
    padding: 0 5px;
}

.icon-cancel{
    color: #fcbcb5;
}
